[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=xmitm
Group=xmitm

WorkingDirectory=/home/xmitm/tg-script/
Environment="PYTHONPATH=/home/xmitm/tg-script/"
ExecStart=/home/xmitm/tg-script/.venv/bin/python /home/xmitm/tg-script/forwardgram.py /home/xmitm/tg-script/config.yml-sample

[Install]
WantedBy=multi-user.target
