[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=oleg
Group=oleg

WorkingDirectory=/home/oleg/forward/
Environment="PYTHONPATH=/home/oleg/forward/"
ExecStart=/home/oleg/forward/.venv/bin/python /home/oleg/forward/forwardgram.py /home/oleg/forward/config.yml-sample

[Install]
WantedBy=multi-user.target
